In [1]:
import pandas as pd
fusion_csv = pd.read_csv(r'D:\Study\Thesis Backup\Thesis Codes\fusion dataset\fusion_csv.csv')
fusion_csv_txt = pd.read_csv(r'D:\Study\Thesis Backup\Thesis Codes\fusion dataset\fusion_csv_txt.csv')
fusion_csv.head(10)

   img anxiety p  img not anxiety p
0      91.691750           8.308242
1      13.506813          86.493195
2      73.821210          26.178799
3       2.776053          97.223950
4      93.336586           6.663410
5       0.553401          99.446600
6      79.702576          20.297434
7      96.942085           3.057918
8      99.467636           0.532370
9      95.530500           4.469498

In [2]:
fusion_csv_txt['anxiety str'] = ['not anxiety' if x == 1 else 'anxiety' for x in fusion_csv_txt['txt_anxiety']]
fusion_csv_txt.head(10)

   txt_anxiety  anxiety str
0            0      anxiety
1            0      anxiety
2            0      anxiety
3            1  not anxiety
4            0      anxiety
5            0      anxiety
6            0      anxiety
7            0      anxiety
8            0      anxiety
9            0      anxiety

In [3]:
fusion_csv_final = pd.DataFrame()
fusion_csv_final['img anxiety'] = [0 if anx > 50 else 1 for anx in fusion_csv['img anxiety p']]
fusion_csv_final['anxiety str'] = ['anxiety' if x == 0 else 'not anxiety' for x in fusion_csv_final['img anxiety']]

In [4]:
fusion_data_csv = pd.merge(fusion_csv_final, fusion_csv, left_index=True, right_index=True)

In [5]:
fusion_data_csv

     img anxiety  anxiety str  img anxiety p  img not anxiety p
0              0      anxiety      91.691750           8.308242
1              1  not anxiety      13.506813          86.493195
2              0      anxiety      73.821210          26.178799
3              1  not anxiety       2.776053          97.223950
4              0      anxiety      93.336586           6.663410
..           ...          ...            ...                ...
111            0      anxiety      95.883224           4.116768
112            0      anxiety      69.276010          30.723995
113            0      anxiety      71.797035          28.202967
114            0      anxiety      96.150960           3.849032
115            1  not anxiety      27.235550          72.764450

[116 rows x 4 columns]

In [6]:
import pandas as pd

# Load text dataset 1
text_data_1 = fusion_data_csv

# Load text dataset 2
text_data_2 = fusion_csv_txt

# Perform any necessary preprocessing or feature extraction on the text datasets

# Merge the two text datasets based on a common key or index
merged_data = pd.merge(text_data_1, text_data_2, on='anxiety str')

# Perform late fusion by combining the features or representations from the two datasets
fusion_data = merged_data
fusion_data['anxiety'] = merged_data['img anxiety'] * merged_data['txt_anxiety']

# # Perform any additional processing or analysis on the fused data

# # Save the fused data to a new file
fusion_data

,img anxiety,anxiety str,img anxiety p,img not anxiety p,txt_anxiety,anxiety
0,0,anxiety,91.69175,8.308242,0,0
1,0,anxiety,91.69175,8.308242,0,0
2,0,anxiety,91.69175,8.308242,0,0
3,0,anxiety,91.69175,8.308242,0,0
4,0,anxiety,91.69175,8.308242,0,0
...,...,...,...,...,...,...
8763,1,not anxiety,27.23555,72.764450,1,1
8764,1,not anxiety,27.23555,72.764450,1,1
8765,1,not anxiety,27.23555,72.764450,1,1
8766,1,not anxiety,27.23555,72.764450,1,1
8767,1,not anxiety,27.23555,72.764450,1,1

In [7]:
duplicate_rows = fusion_data[fusion_data.duplicated()]

In [8]:
duplicate_rows

,img anxiety,anxiety str,img anxiety p,img not anxiety p,txt_anxiety,anxiety
1,0,anxiety,91.69175,8.308242,0,0
2,0,anxiety,91.69175,8.308242,0,0
3,0,anxiety,91.69175,8.308242,0,0
4,0,anxiety,91.69175,8.308242,0,0
5,0,anxiety,91.69175,8.308242,0,0
...,...,...,...,...,...,...
8763,1,not anxiety,27.23555,72.764450,1,1
8764,1,not anxiety,27.23555,72.764450,1,1
8765,1,not anxiety,27.23555,72.764450,1,1
8766,1,not anxiety,27.23555,72.764450,1,1
8767,1,not anxiety,27.23555,72.764450,1,1

In [9]:
fusion_data_without_duplicates = fusion_data.drop_duplicates()

# Save the dataset without duplicates to a new file
fusion_data_without_duplicates.to_csv(r'D:\Study\Thesis Backup\Thesis Codes\fusion dataset\fusion_data_without_duplicates_FINAL.csv', index=False)

In [10]:
fusion_data_without_duplicates

,img anxiety,anxiety str,img anxiety p,img not anxiety p,txt_anxiety,anxiety
0,0,anxiety,91.691750,8.308242,0,0
109,0,anxiety,73.821210,26.178799,0,0
218,0,anxiety,93.336586,6.663410,0,0
327,0,anxiety,79.702576,20.297434,0,0
436,0,anxiety,96.942085,3.057918,0,0
...,...,...,...,...,...,...
8733,1,not anxiety,0.449689,99.550316,1,1
8740,1,not anxiety,2.352253,97.647740,1,1
8747,1,not anxiety,8.072909,91.927086,1,1
8754,1,not anxiety,0.201488,99.798515,1,1
8761,1,not anxiety,27.235550,72.764450,1,1

In [11]:
fusion_data_without_duplicates.anxiety.unique()

array([0, 1], dtype=int64)